/selfietorium/selfietorium.nja
/test_boothsettings.json
/selfietorium.egg-info/PKG-INFO
/selfietorium.egg-info/SOURCES.txt
/selfietorium.egg-info/dependency_links.txt
/selfietorium.egg-info/entry_points.txt
/selfietorium.egg-info/requires.txt
/selfietorium.egg-info/top_level.txt
/.pybuild/pythonX.Y_2.7/.pydistutils.cfg
/.pybuild/pythonX.Y_2.7/build/selfietorium/__init__.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/get_access_token.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/FakeCamera.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/PicamCamera.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/Printer.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/SendTweet.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/USBCamera.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/__init__.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/configuration.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/pygameTextRectangle.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/libselfietorium/template.py
/.pybuild/pythonX.Y_2.7/build/selfietorium/selfietorium.py
/.pybuild/pythonX.Y_3.4/.pydistutils.cfg
/.pybuild/pythonX.Y_3.4/build/selfietorium/__init__.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/get_access_token.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/FakeCamera.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/PicamCamera.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/Printer.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/SendTweet.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/USBCamera.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/__init__.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/configuration.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/pygameTextRectangle.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/libselfietorium/template.py
/.pybuild/pythonX.Y_3.4/build/selfietorium/selfietorium.py
/debian/python-selfietorium.debhelper.log
/debian/python-selfietorium.postinst.debhelper
/debian/python-selfietorium.prerm.debhelper
/debian/python-selfietorium.substvars
/debian/python-selfietorium/DEBIAN/control
/debian/python-selfietorium/DEBIAN/md5sums
/debian/python-selfietorium/DEBIAN/postinst
/debian/python-selfietorium/DEBIAN/prerm
/debian/python-selfietorium/usr/bin/sample
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium-1.2.0.egg-info/PKG-INFO
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium-1.2.0.egg-info/dependency_links.txt
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium-1.2.0.egg-info/entry_points.txt
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium-1.2.0.egg-info/requires.txt
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium-1.2.0.egg-info/top_level.txt
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/Assets/62491__benboncan__dslr-click.wav
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/Templates/Template1.svg
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/__init__.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/boothsettings.json
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/get_access_token.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/FakeCamera.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/PicamCamera.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/Printer.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/SendTweet.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/USBCamera.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/__init__.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/configuration.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/pygameTextRectangle.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/libselfietorium/template.py
/debian/python-selfietorium/usr/lib/python2.7/dist-packages/selfietorium/selfietorium.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/PKG-INFO
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/SOURCES.txt
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/dependency_links.txt
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/entry_points.txt
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/requires.txt
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium-1.2.0.egg-info/top_level.txt
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/__init__.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/__pycache__/__init__.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/__pycache__/get_access_token.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/get_access_token.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/FakeCamera.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/PicamCamera.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/Printer.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/SendTweet.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/USBCamera.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/__init__.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/__pycache__/FakeCamera.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/__pycache__/PicamCamera.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/__pycache__/USBCamera.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/__pycache__/__init__.cpython-34.pyc
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/configuration.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/pygameTextRectangle.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/libselfietorium/template.py
/debian/python-selfietorium/usr/lib/python3.4/dist-packages/selfietorium/selfietorium.py
/debian/python-selfietorium/usr/share/doc/python-selfietorium/changelog.gz
/debian/python-selfietorium/usr/share/doc/python-selfietorium/copyright
/debian/python-selfietorium/usr/share/man/man1/selfietorium.1.gz
/debian/files
/docs/_build
/docs/_static
/docs/_templates

