#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export PYBUILD_NAME=selfietorium

%:
	dh $@  --with python2,python3,sphinxdoc --buildsystem=pybuild


# If you need to rebuild the Sphinx documentation
# Add spinxdoc to the dh --with line
override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build
	sphinx-build -N -bhtml docs/ docs/_build/html # HTML generator
	sphinx-build -N -bman        docs/ docs/_build/man # Manpage generator
